[submodule "etc/cups"]
	path = etc/cups
	url = https://github.com/abcdesktopio/cups.git
	branch = main
[submodule "etc/pulse"]
	path = etc/pulse
	url = https://github.com/abcdesktopio/pulse
	branch = main
[submodule "composer/node/file-service"]
	path = composer/node/file-service
	url = https://github.com/abcdesktopio/file-service
	branch = main
[submodule "composer/node/printer-service"]
	path = composer/node/printer-service
	url = https://github.com/abcdesktopio/printer-service
