[submodule "etc/cups"]
	path = etc/cups
	url = https://github.com/abcdesktopio/cups.git
	branch = main
[submodule "etc/pulse"]
	path = etc/pulse
	url = https://github.com/abcdesktopio/pulse
	branch = main
[submodule "composer/node/ocrun"]
	path = composer/node/ocrun
	url = https://github.com/abcdesktopio/run-service.git
	branch = main
[submodule "themes/Win11OS-kde"]
	path = themes/Win11OS-kde
	url = git@github.com:abcdesktopio/Win11OS-kde.git
[submodule "themes/Win11-icon-theme"]
	path = themes/Win11-icon-theme
	url = git@github.com:abcdesktopio/Win11-icon-theme.git
