version.json
**/node_modules
composer/version.json
composer/node/spawner-service/build

composer/node/spawner-service/swaggerSpec.json
composer/node/spawner-service/index.html
composer/node/**/*.md
composer/node/file-service/swaggerSpec.json
composer/node/file-service/index.html

composer/node/broadcast-service/.vscode
**/.vscode
